@import url(./vendor/fonts/fonts.css);

/* automatic/manual light mode */
:root,
:root.light {
  --color-text-primary: #000;
  --color-text-secondary: #fff;
  --color-text-accent: #ed4c5c;
  --color-text-numbers: rgba(16, 16, 16, 0.08);
  --color-text-placeholders: rgba(19, 39, 67, 0.5);
  --color-bg-primary: #fff;
  --color-bg-secodnary: #ed4c5c;
  --color-bg-accent: #fafafa;
  --color-box-shadow: rgba(0, 0, 0, 0.1);
}

.page {
  min-width: 320px;
  max-width: 1440px;
  background: var(--color-bg-primary);
  margin: 0 auto;
  font-family: "Lato", Arial, sans-serif;
  color: var(--color-text-primary);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
.scale {
  transition: scale 0.2s ease-in-out;
}
.scale:hover {
  scale: 1.1;
}
.link {
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.section-title {
  margin: 0 0 64px;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: var(--color-text-primary);
}

.header {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url("./images/header/header-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 0;
}
.header__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
}
.header__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 55px;
}
.header__logo {
  display: block;
  width: 172px;
  height: 29px;
}
.header__logo_type_pc {
  display: block;
  width: 172px;
  height: 29px;
}
@media screen and (max-width: 1024px) {
  .header__logo_type_pc {
    display: none;
  }
}
.header__logo_type_mobile {
  display: none;
}
@media screen and (max-width: 1024px) {
  .header__logo_type_mobile {
    display: block;
    width: 26px;
    height: 19px;
  }
}
.header__links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: space-between;
  gap: 30px;
}
.header__links_type_pc {
  display: flex;
}
@media screen and (max-width: 1024px) {
  .header__links_type_pc {
    display: none;
  }
}
.header__links_type_mobile {
  display: none;
}
@media screen and (max-width: 1024px) {
  .header__links_type_mobile {
    display: flex;
  }
}
.header__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: var(--color-text-secondary);
}
.header__settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.header__lang {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
@media screen and (max-width: 1024px) {
  .header__lang {
    display: none;
  }
}
.header__lang-flag {
  display: block;
}
.header__lang-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: var(--color-text-secondary);
}
.header__lang-arrow {
  display: block;
}
.header__button-login {
  padding: 0;
  width: 100px;
  height: 40px;
  border: 1px solid var(--color-bg-primary);
  border-radius: 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: var(--color-text-secondary);
  background: transparent;
}
@media screen and (max-width: 1024px) {
  .header__button-login {
    width: 80px;
    height: 32px;
  }
}
.header__text {
  padding: 150px 10px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.header__title {
  margin: 0 auto;
  font-weight: 700;
  font-size: 72px;
  line-height: 86px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--color-text-secondary);
}
@media screen and (max-width: 620px) {
  .header__title {
    font-size: 36px;
    line-height: 1.2;
  }
}
.header__subtitle {
  margin: 0 auto;
  max-width: 540px;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: var(--color-text-secondary);
}
@media screen and (max-width: 620px) {
  .header__subtitle {
    max-width: 300px;
    font-size: 14px;
  }
}
.header__button-signup {
  margin: 0 auto;
  width: 160px;
  height: 50px;
  background: var(--color-bg-primary);
  border: none;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: var(--color-text-accent);
}

.lead {
  margin: 0 auto;
  padding: 95px 0;
  display: flex;
  justify-content: center;
  gap: 125px;
}
@media screen and (max-width: 1024px) {
  .lead {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
.lead__text {
  max-width: 445px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (max-width: 485px) {
  .lead__text {
    padding: 0 10px;
    max-width: 100%;
  }
}
.lead__title {
  margin: 0 0 24px;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: var(--color-text-primary);
}
@media screen and (max-width: 485px) {
  .lead__title {
    font-size: 24px;
    line-height: 1.2;
  }
}
.lead__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: justify;
  color: var(--color-text-primary);
}
@media screen and (max-width: 485px) {
  .lead__subtitle {
    font-size: 12px;
  }
}
.lead__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: var(--color-text-accent);
}
.lead__figure {
  position: relative;
  max-width: 100%;
}
.lead__image {
  display: block;
  max-width: 445px;
  max-height: 311px;
  object-fit: cover;
  border-radius: 15px;
  z-index: 0;
}
@media screen and (max-width: 485px) {
  .lead__image {
    padding: 0 10px;
    max-width: calc(100% - 20px);
  }
}
.lead__button {
  position: absolute;
  top: calc(50% - 33px);
  left: -33px;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  border: none;
  background-image: url("./images/lead/lead-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}
@media screen and (max-width: 1024px) {
  .lead__button {
    left: calc(50% - 33px);
  }
}

.features {
  margin: 0 auto;
  padding: 64px 0 230px;
  text-align: center;
  background: var(--color-bg-accent);
}
.features__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (max-width: 1130px) {
  .features__cards {
    gap: 130px;
  }
}
@media screen and (max-width: 350px) {
  .features__cards {
    gap: 160px;
  }
}
.features__card {
  position: relative;
  z-index: 0;
}
.features__image {
  display: block;
  max-width: 350px;
  max-height: 250px;
  object-fit: cover;
  border-radius: 8px;
}
@media screen and (max-width: 370px) {
  .features__image {
    margin: 0 auto;
    max-width: calc(100% - 20px);
  }
}
.features__text {
  position: absolute;
  top: 157px;
  left: calc(50% - 146px);
  z-index: 1;
  display: block;
  width: 292px;
  height: 198px;
  background: var(--color-bg-primary);
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.features__card-title {
  margin: 0 0 20px;
  padding: 32px 32px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-text-primary);
}
.features__card-subtitle {
  margin: 0 0 20px;
  padding: 0 32px 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: var(--color-text-primary);
}
.features__card-link {
  padding-bottom: 24px;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  color: var(--color-text-accent);
}

.tech {
  margin: 0 auto;
  padding: 64px 0 104px;
  text-align: center;
}
.tech__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.tech__card {
  position: relative;
  width: 255px;
  height: 226px;
  z-index: 0;
}
.tech__span {
  position: absolute;
  top: 0;
  left: calc(50% - 58px);
  z-index: -1;
  font-weight: 700;
  font-size: 100px;
  line-height: 120px;
  color: var(--color-text-numbers);
}
.tech__image {
  display: block;
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin: 59px auto 0;
}
.tech__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-text-primary);
}
.tech__subtitle {
  margin: 10px 0 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--color-text-primary);
}

.landing {
  background-color: var(--color-bg-secodnary);
  color: var(--color-text-secondary);
  padding: 95px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px;
}
.landing__text {
  max-width: 445px;
}
@media screen and (max-width: 485px) {
  .landing__text {
    padding: 0 10px;
    max-width: 100%;
  }
}
.landing__title {
  margin: 0 0 42px;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: var(--color-text-secondary);
}
@media screen and (max-width: 485px) {
  .landing__title {
    font-size: 24px;
    line-height: 1.2;
  }
}
.landing__subtitle {
  margin: 0 0 42px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: justify;
  color: var(--color-text-secondary);
}
@media screen and (max-width: 485px) {
  .landing__subtitle {
    font-size: 12px;
  }
}
.landing__stores {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 28px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.landing__icon {
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.landing__swiper {
  position: relative;
  flex-basis: 533px;
  height: 311px;
  z-index: 0;
}
@media screen and (max-width: 600px) {
  .landing__swiper {
    padding: 0 10px;
    max-width: calc(100% - 20px);
  }
}
.landing__image {
  display: block;
  object-fit: cover;
  border-radius: 15px;
}
.landing__image_place_center {
  position: absolute;
  top: 0;
  left: 44px;
  max-width: 445px;
  max-height: 311px;
  z-index: 2;
}
@media screen and (max-width: 600px) {
  .landing__image_place_center {
    position: relative;
    margin: 0 auto;
    left: 0;
    max-width: 100%;
  }
}
.landing__image_place_left {
  position: absolute;
  z-index: 1;
  width: 383px;
  height: 267px;
  top: 22px;
  left: 0;
}
@media screen and (max-width: 600px) {
  .landing__image_place_left {
    display: none;
  }
}
.landing__image_place_right {
  position: absolute;
  z-index: 1;
  width: 383px;
  height: 267px;
  top: 22px;
  right: 0;
}
@media screen and (max-width: 600px) {
  .landing__image_place_right {
    display: none;
  }
}

.contact {
  margin: 0 auto;
  padding: 116px 0 78px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 125px;
}
@media screen and (max-width: 1130px) {
  .contact {
    padding: 116px 10px 78px;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}
.contact__text {
  max-width: 434px;
}
@media screen and (max-width: 485px) {
  .contact__text {
    padding: 0 10px;
    max-width: 100%;
  }
}
.contact__title {
  margin: 0 0 42px;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: var(--color-text-primary);
}
@media screen and (max-width: 485px) {
  .contact__title {
    font-size: 24px;
    line-height: 1.2;
  }
}
.contact__subtitle {
  margin: 0 0 42px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: justify;
  color: var(--color-text-primary);
}
@media screen and (max-width: 485px) {
  .contact__subtitle {
    font-size: 12px;
  }
}
.contact__form {
  margin: 0;
  width: 540px;
  display: grid;
  gap: 24px;
}
@media screen and (max-width: 600px) {
  .contact__form {
    padding: 0 10px;
    width: calc(100% - 20px);
  }
}
.contact__row {
  display: flex;
  gap: 24px;
}
.contact__input {
  margin: 0;
  padding-left: 0;
  width: 100%;
  height: 60px;
  border: 1px solid var(--color-text-primary);
  border-radius: 6px;
}
.contact__input::placeholder {
  padding-left: 31px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-text-placeholders);
}
.contact__button {
  width: 160px;
  height: 50px;
  background: var(--color-bg-secodnary);
  border: 1.5px solid var(--color-bg-secodnary);
  border-radius: 6px;
  color: var(--color-text-secondary);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

.footer {
  padding: 85px 0;
  background-color: var(--color-bg-accent);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (max-width: 1120px) {
  .footer {
    padding-bottom: 40px;
  }
}
.footer__col {
  width: 254px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media screen and (max-width: 1120px) {
  .footer__col:first-of-type {
    order: 1;
  }
}
@media screen and (max-width: 560px) {
  .footer__col {
    width: calc(100% - 20px);
  }
}
.footer__title {
  margin: 0 0 33px;
}
.footer__text {
  margin: 0 0 11px;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}
.footer__copyright {
  margin: 140px 0 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.footer__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  text-transform: capitalize;
  color: var(--color-text-primary);
}
.footer__socials {
  display: flex;
  gap: 13px;
}
.footer__social {
  display: block;
  width: 14px;
  height: 14px;
  object-fit: contain;
}
.footer__payment {
  display: block;
  width: 216px;
  height: 31px;
  object-fit: contain;
}
